body {
    margin: 0;
    padding: 0;
}
span {
    font-style: italic;
    
}
/* Контент */
.list-conteiner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
    
}

.list-conteiner>p {
    text-align: center;
    font-weight: bold;
}

.img-conteiner {
    float: right;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
    margin-left: 10px;
}

.img-conteiner>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-HTML {
    max-width: 70px;
    
}

/* Верхняя информационная панель */

.nav-conteiner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(166, 229, 238);
    
}
.nav-conteiner>nav>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.nav-conteiner>nav>ul>li {
    display: block;
    padding: 10px;
    border-style: solid;
    border-style: 0.5px;

}


@media (max-width: 900px) {
    .nav-conteiner {
        flex-direction: column;
    }
}


.page {
    display: flex;
    justify-content: center;
}

.header {
    width: 14%;
    background-color: aquamarine;
}

.section {
    width: 82%;
}
